<%- include('includes/head'); %>

  <%- include('includes/nav'); %>

  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="text-center">Contatos</h1>

        <% if (contact._id) { %> 
          <p class="text-center lead">Edite seus contatos abaixo</p>
          <%- include('includes/messages'); %>

          <form action="/contact/edit/<%= contact._id %>" method="POST">
        <% } else { %> 
          <p class="text-center lead">Cadastre seus contatos abaixo</p>
          <%- include('includes/messages'); %>
          
          <form action="/contact/register" method="POST">
        <% } %> 
            <input type="hidden" name="_csrf" value=<%= csrfToken %> >
            <div class="form-group">
              <label>Nome</label>
              <input type="text" class="form-control" name="nome" value="<%= contact.nome %>">
            </div>

            <div class="form-group">
              <label>E-mail</label>
              <input type="email" class="form-control" name="email" value="<%= contact.email %>">
            </div>

            <div class="form-group">
              <label>Telefone</label>
              <input type="tel" class="form-control" name="telefone" value="<%= contact.telefone %>">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
          </form>

      </div>
    
      <div class="col-lg-2"></div>
    </div>
  </div>

<%- include('includes/footer'); %>