<%- include('includes/head'); %>

  <%- include('includes/nav'); %>

  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="text-center">Agenda</h1>

        <% if (contacts && contacts.length > 0) { %> 
          <p class="text-center lead">Seus contatos estão abaixo</p>
          <%- include('includes/messages'); %>
          
          <div class="responsive-table">
            <table class="table">
              <% contacts.forEach( (contact) => { %> 
                <tr>
                  <td><%= contact.nome %></td>
                  <td><%= contact.email %></td>
                  <td><%= contact.telefone %></td>
                  <td><a href="/contact/index/<%= contact._id %>">Editar</a></td>
                  <td><a class="text-danger" href="/contact/delete/<%= contact._id %>">Excluir</a></td>
                </tr>
              <% }); %> 
            </table>
          </div>
        <% } else { %> 
             <% if(user) { %>
                <p class="text-center lead">Não existem contatos na sua agenda.</p>
            <% } else { %>
                <p class="text-center lead">Faça login para acessar seus contatos.</p>
            <% } %>
            
            <%- include('includes/messages'); %>
        <% } %> 
      </div>
    
      <div class="col-lg-2"></div>
    </div>
  </div>

<%- include('includes/footer'); %>