<%- include('includes/head'); %>

  <%- include('includes/nav'); %>

  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="text-center">Faça seu Cadastro</h1>
        <p class="text-center lead">Se você ainda não tem conta, preencha o formulário abaixo</p>

        <%- include('includes/messages'); %>
  
        <div class="row">
          <div class="col-lg my-5">  
            <form action="/user/register" method="POST">
              <input type="hidden" name="_csrf" value=<%= csrfToken %> >
              <div class="form-group">
                <label for="email">Seu e-mail:</label>
                <input type="email" class="form-control" name="email" id="email">
              </div>
              <div class="form-group">
                <label for="password">Sua senha:</label>
                <input type="password" class="form-control" name="password" id="password">
              </div>
              <div class="form-group">
                <label for="password-confirmation">Confirme sua senha:</label>
                <input type="password" class="form-control" name="password-confirmation" id="password-confirmation">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Criar Conta</button>
            </form>
          </div>
        </div>
      </div>
    
      <div class="col-lg-2"></div>
    </div>
  </div>

<%- include('includes/footer'); %>